<!DOCTYPE html>
<html>
<head>
  <link href="styles/normalize.css" rel="stylesheet" type="text/css"/>
  <link href="<%= url('styles/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
  <form action="/" method="post">
    <input type="text" placeholder='Enter the URL you would like to "shorten"' name="url_to_be_shortened" id="url_to_be_shortened"/>
  <span>
    <button type="submit" value="Shorten">Shorten</button>
   </span>
  </form>
</div>
</body>
</html>