<!DOCTYPE html>
<html>
<head>

</head>
<body>
<form action="/shorten" method="post">
  <input type="text" name="url_to_be_shortened" id="url_to_be_shortened"/>
  <input type="submit" value="Shorten"/>
</form>
</body>
</html>