<!DOCTYPE html>
<html>
<head>
  <link href="<%= url('styles/stylesheet.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
  <p>Original URL
    <%= URL_HASH[:url] %>
  </p>
  <p>"Shortened" URL</p>

    <%=  %>
</body>
</html>