div {
    text-align: center;
    margin-top: 20%;
}

input[type="text"] {
    width: 500px;
   /* height: 30px; */
    margin: 15px;
    border-color: black;
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 5px;
    line-height:1.75em;
}

::-webkit-input-placeholder {
    color: black;
    font-size: 1.5em;
}

:-moz-placeholder {
    color: black;
    font-size: 1.5em;
}

::-moz-placeholder {
    color: black;
    font-size: 1.5em;
}


button {
    height: 40px;
    width: 100px;
    background-color: #3366FF;
    display: block;
    margin: auto;
    font-size: 14px;
    color: white;
    border-color: black;
    -moz-box-shadow:    3px 3px 0px 0px #000000;
    -webkit-box-shadow: 3px 3px 0px 0px #000000;
    box-shadow:         3px 3px 0px 0px #000000;
}


.column1 {
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    margin-top: 10%;
    float: left;
    margin-left: 30%;
    text-align: left;

}
.column2 {
    font-family: 'Muli', sans-serif;
    margin-top: 10%;
    margin-left: 2%;
    float: left;
    text-align: left;

}

h3 {
    font-family: 'Muli', sans-serif;
    color: red;
}